@font-face {
    font-family: apple;
    src: url(sf-pro-display_regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main-navcontainer {
    height: 100px;
    background-color: black;
}

#container {
    width: 1200px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#nav {
    background-color: black;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#nav a {
    color: white;
    text-decoration: none;
    font-weight: normal;

}

i {
    color: white;
    font-size: 25px;
}

#image {
    height: 800px;
    width: 100%;
    background-image: url("https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large.jpg");
    background-size: cover;
    background-position: center;
}

#image h2 {
    font-size: 60px;
    color: white;
}

#image h3 {
    font-weight: normal;
    font-size: 30px;
    color: white;
}


#img-textdiv {
    padding-top: 100px;
    text-align: center;
}

#btn1 {
    font-size: 20px;
    border: none;
    background-color: rgb(28, 122, 245);
    padding: 15px 30px;
    border-radius: 50px;
    margin: 20px 10px;
    color: white;
}

#btn2 {
    font-size: 20px;
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 15px 30px;
    border-radius: 50px;
    margin: 20px 10px;
    color: #1f5aff;
    border: 2px solid blue;
}

#btn1:hover {
    cursor: pointer;
    background-color: #3a7efb;
}

#btn2:hover {
    cursor: pointer;
    background-color: #3a7efb;
    color: white;
}